@{
    ViewData["Title"] = "Login Page";
}

<div class="text-md-left">
    <p>
        
        <h9 style="color:red">Incorrect username or password</h9>
        <br />

    </p>
    <div class="text-md-left">
        <form action="/Home/Login" method="post">
            Username: <input type="text" name="username" value="" required/>
            <br />
            <br />
            Password : <input type="password" name="password" value="" required/>
            <br />
            <br />
            <button type="submit" class="btn btn-primary align-content-center">Login</button>
            @*<a asp-controller="Reservation" asp-action="Index" class="btn btn-primary align-content-center">Login</a>*@
        </form>
    </div>


    @*Username: <input type="text" value="Admin" />
        <br />
        <br />
        Password : <input type="text" value="*****" />
        <br />
        <br />
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-primary align-content-center">Login</a>*@

</div>
